@layer components {
  .loader {
    @apply w-12 h-12 rounded-full inline-block relative;
    @apply border-4 border-primary;
    animation: pulse 1s linear infinite;

    &::after {
      content: "";
      @apply absolute left-1/2 top-1/2 w-12 h-12 rounded-full -translate-x-1/2 -translate-y-1/2;
      @apply border-4 border-primary;
      animation: scaleUp 1s linear infinite;
    }
  }
  @keyframes scaleUp {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    60%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes pulse {
    0%,
    60%,
    100% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
    }
  }
}
